.body {
    margin:0;
    padding: 0;
    background:#ff8fab;
}

.name{
    width: 100%;
    height: 300px;
    background-color: #fb6f92;
    transform:skewY(-5deg);
    
}
.name .contenido{
    width:50%;
    height: 50%;
    position: absolute;
    left: 25%;
    
}
.name .contenido .p1{
    color: white;
    font-family: 'Alkalami', serif;
    font-weight: bolder;
    font-size: 65px;
    margin-bottom: 0;

}
.informacion {
    width: 90%;
    height: auto;
    background: #ff8fab;
    margin:5% auto;
    padding: 20px;

}
.informacion .tituloinformacion {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 2px white dashed;
}
.informacion .personal{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bolder;
    font-size: large;  
    display: inline;
}
.informacion .inforperso{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: normal;
    font-size: large; 
    display: inline;
}
.name .img{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}
.name .img img{
    width: 180px;
    height: 320px;
}
